{
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "plugins": [
    "tailwindcss"
  ],
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "tailwindcss/no-custom-classname": "off"
  },
  "vue/max-attributes-per-line": "off"
}