# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
*.pem

# Local Netlify folder
.netlify

# MCP credentials
.mcp.json

# Claude
.claude/settings.local.json