{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-vue",
    "stylelint-config-clean-order"
  ],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind",
          "apply",
          "include",
          "variants",
          "responsive",
          "screen",
          "theme"
        ]
      }
    ],
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": ["theme", "linear", "v-bind"]
      }
    ],
    "selector-class-pattern": null,
    "no-descending-specificity": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global", "deep"]
      }
    ],
    "import-notation": "string",
    "no-invalid-position-at-import-rule": null,
    "custom-property-pattern": null,
    "custom-media-pattern": null,
    "value-keyword-case": null
  }
}
