@font-face {
  font-family: 'Greycliff CF';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/webfonts/greycliffcf-heavy-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Greycliff CF';
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/webfonts/greycliffcf-boldoblique-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Greycliff CF';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/webfonts/greycliffcf-medium-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Greycliff CF';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/webfonts/greycliffcf-light-webfont.woff2') format('woff2');
}


