html {
  color: var(--color-offblack);
  background-color: var(--color-pink);
}

body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-16);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: var(--line-height-normal);
}

.wrapper {
  margin-inline: auto;
  padding-inline: var(--app-outer-gutter);
}

.section {
  padding-block: var(--spacing-24);

  @media (--md) {
    padding-block: var(--spacing-64);
  }
}