html {
  color: theme('colors.offwhite');
  background-color: theme('colors.offblack');
}

body {
  font-family: theme('fontFamily.body');
  font-size: theme('fontSize.16');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: theme('lineHeight.normal');
}

.wrapper {
  width: 100%;
  max-width: theme('screens.3xl');
  margin-inline: auto;
  padding-inline: var(--app-outer-gutter);
}

.section {
  padding-block: var(--app-vertical-rhythm);
}

.scroll-x {
  scrollbar-width: none; /* for Firefox */
  scroll-snap-type: x mandatory;

  overflow-x: scroll;
  overscroll-behavior-x: contain;

  max-width: 100%;

  -ms-overflow-style: none; /* for Internet Explorer, Edge */

  &::-webkit-scrollbar {
    display: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  @supports (-moz-appearance: none) {
    /*
      Disable in FF due to https://bugzilla.mozilla.org/show_bug.cgi?id=1744289
      using @supports https://stackoverflow.com/a/32455002
    */
    scroll-snap-type: none;
  }
}