button {
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;

  text-transform: inherit;
  letter-spacing: inherit;

  &:disabled {
    cursor: not-allowed;
  }
}

svg {
  display: block;
  fill: currentcolor;
}

img {
  width: 100%;
}

input {
  text-transform: inherit;
  letter-spacing: inherit;
  background-color: transparent;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}

