.type-fluid-lg {
  font-size: utopia.clamp(80, 120);
  line-height: 1.1;
  letter-spacing: theme('letterSpacing.tight');
}

.type-fluid-sm {
  font-size: utopia.clamp(20, 32);
  line-height: 1.3;
  letter-spacing: theme('letterSpacing.tight');
}


