@layer components {
  /* Headings */
  .type-mega,
  .type-giga,
  .type-h1,
  .type-h2,
  .type-h3,
  .type-h4,
  .type-h5,
  .type-h6 {
    font-family: theme('fontFamily.heading');
    font-weight: bold;
    line-height: theme('lineHeight.tight');
    text-transform: uppercase;
  }

  .type-giga {
    font-size: theme('fontSize.responsive-giga');
    letter-spacing: theme('letterSpacing.tighter');

    &--adjust-height {
      margin-block: -0.105em -0.025em;
      margin-inline: -0.055em;
    }
  }

  .type-mega {
    font-size: theme('fontSize.responsive-mega');
    letter-spacing: theme('letterSpacing.tighter');
  }

  .type-h1 {
    font-size: theme('fontSize.52');
    letter-spacing: theme('letterSpacing.tighter');

    @screen md {
      font-size: theme('fontSize.104');
    }
  }

  .type-h2 {
    font-size: theme('fontSize.44');
    letter-spacing: theme('letterSpacing.tight');

    @screen md {
      font-size: theme('fontSize.80');
    }
  }

  .type-h3 {
    font-size: theme('fontSize.38');
    letter-spacing: theme('letterSpacing.tight');

    @screen md {
      font-size: theme('fontSize.64');
    }
  }

  .type-h4 {
    font-size: theme('fontSize.32');

    @screen md {
      font-size: theme('fontSize.48');
    }
  }

  .type-h5 {
    font-size: theme('fontSize.24');

    @screen md {
      font-size: theme('fontSize.32');
    }
  }

  .type-h6 {
    font-size: theme('fontSize.20');

    @screen md {
      font-size: theme('fontSize.24');
    }
  }

  .type-subtitle,
  .type-subtitle-sm {
    font-weight: 500;
    line-height: theme('lineHeight.snug');
    text-transform: uppercase;
    letter-spacing: theme('letterSpacing.wide');
  }

  .type-subtitle {
    font-size: theme('fontSize.12');

    @screen md {
      font-size: theme('fontSize.14');
    }
  }

  .type-subtitle-sm {
    font-size: theme('fontSize.10');

    @screen md {
      font-size: theme('fontSize.12');
    }
  }

  /* Body */
  .type-body {
    font-size: theme('fontSize.14');

    @screen md {
      font-size: theme('fontSize.16');
    }

    & b,
    & strong {
      font-weight: 500;
    }
  }

  .type-body-sm {
    font-size: theme('fontSize.12');

    @screen md {
      font-size: theme('fontSize.14');
    }
  }

  .type-body-lg {
    font-size: theme('fontSize.16');

    @screen md {
      font-size: theme('fontSize.18');
    }
  }
}
