:root {
  --app-max-width: 1400px;
  --app-inner-gutter: theme('spacing.16');
  --app-outer-gutter: theme('spacing.24');
  --app-header-height: 96px;

  @screen md {
    --app-inner-gutter: theme('spacing.20');
    --app-outer-gutter: theme('spacing.50');
    --app-header-height: 144px;
  }
}

