@font-face {
  font-family: Saans;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/SaansRegular.woff2') format('woff2');
}

@font-face {
  font-family: Saans;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/SaansSemiBold.woff2') format('woff2');
}
