@layer base {
  @font-face {
    font-family: Saans;
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/SaansVF.woff2') format('woff2') tech(variations);
  }
}
