@layer base {
  html {
    color: var(--color-black);
    background-color: var(--color-pink);
  }

  body {
    font-family: var(--font-sans);
    font-feature-settings: 'ss02', 'ss03', 'ss04';
  }
}
