@utility prose {
  & :where(h1, h2, h3, h4, h5, h6):has(+ :where(p, ul, ol)) {
    margin-bottom: 0.6lh;
  }

  & :where(p + p) {
    margin-top: 1lh;
  }

  & :where(b, strong) {
    font-weight: var(--font-weight-heavy);
  }

  & :where(em) {
    font-variation-settings: 'ital' 10;
  }
}

@custom-variant prose-h1 {
  & :where(h1) {
    @slot;
  }
}

@custom-variant prose-h2 {
  & :where(h2) {
    @slot;
  }
}

@custom-variant prose-h3 {
  & :where(h3) {
    @slot;
  }
}

@custom-variant prose-h4 {
  & :where(h4) {
    @slot;
  }
}

@custom-variant prose-h5 {
  & :where(h5) {
    @slot;
  }
}

@custom-variant prose-h6 {
  & :where(h6) {
    @slot;
  }
}

@custom-variant prose-p {
  & :where(p) {
    @slot;
  }
}
