@utility text-h2 {
  font-family: var(--font-sans);
  font-size: var(--text-120);
  line-height: 1;
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--tracking-normal);
}

@utility text-h3 {
  font-family: var(--font-sans);
  font-size: var(--text-40);
  line-height: 1.2;
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--tracking-normal);
}

@utility text-body-lg {
  font-family: var(--font-sans);
  font-size: var(--text-28);
  line-height: 1.2;
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--tracking-normal);
}

@utility text-body {
  font-family: var(--font-sans);
  font-size: var(--text-16);
  line-height: 1.75;
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--tracking-normal);
}

@utility text-body-sm {
  font-family: var(--font-sans);
  font-size: var(--text-14);
  line-height: 1;
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--tracking-normal);
}

@utility text-caption {
  font-family: var(--font-sans);
  font-size: var(--text-14);
  line-height: 1;
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--tracking-normal);
}

@utility text-eyebrow {
  font-family: var(--font-sans);
  font-size: var(--text-28);
  line-height: 1;
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--tracking-normal);
}
