@custom-variant only-hover (@media (hover: hover));

@custom-variant only-touch (@media (hover: none));

@utility wrapper {
  width: 100%;
  max-width: var(--breakpoint-2xl);
  margin-inline: auto;
  padding-inline: var(--app-gutter-outer);
}

@utility trim-both {
  text-box: trim-both cap alphabetic;
}

@utility squircle-40 {
  @supports (corner-shape: squircle) {
    && {
      corner-shape: squircle;
      border-radius: 40px;
    }
  }
}

@utility squircle-20 {
  @supports (corner-shape: squircle) {
    && {
      corner-shape: squircle;
      border-radius: 20px;
    }
  }
}

@utility corner-shape-inherit {
  @supports (corner-shape: squircle) {
    && {
      corner-shape: inherit;
      border-radius: inherit;
    }
  }
}

@utility scroll-y {
  scrollbar-width: none; /* for Firefox */
  scroll-snap-type: y mandatory;
  overflow: hidden auto;
  overscroll-behavior-y: contain;
  max-width: 100%;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */

  &::-webkit-scrollbar {
    display: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  @supports (-moz-appearance: none) {
    /*
      Disable in FF due to https://bugzilla.mozilla.org/show_bug.cgi?id=1744289
      using @supports https://stackoverflow.com/a/32455002
    */
    scroll-snap-type: none;
  }
}
